﻿<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="../../../../global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/custom.css" rel="stylesheet" />
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/global_assets/js/main/jquery.min.js"></script>
    <script src="~/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/global_assets/js/plugins/loaders/blockui.min.js"></script>

    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="~/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="~/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script src="~/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="assets/js/app.js"></script>

    <!--for form wizard -->
    <script src="~/global_assets/js/demo_pages/dashboard.js"></script>
    <script src="~/global_assets/js/plugins/forms/wizards/steps.min.js"></script>
    <script src="~/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/global_assets/js/plugins/forms/inputs/inputmask.js"></script>
    <script src="~/global_assets/js/plugins/forms/validation/validate.min.js"></script>
    <script src="~/global_assets/js/plugins/extensions/cookie.js"></script>
    <script src="~/global_assets/js/demo_pages/form_wizard_rtl.js"></script>

    <!--for drop zone-->
    <script src="~/global_assets/js/plugins/uploaders/fileinput/plugins/purify.min.js"></script>
    <script src="~/global_assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js"></script>
    <script src="~/global_assets/js/plugins/uploaders/fileinput/fileinput.min.js"></script>
    <script src="~/global_assets/js/demo_pages/uploader_bootstrap.js"></script>
</head>

<body>

    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark">
        <div class="navbar-brand">
            <a href="index.html" class="d-inline-block">
                <img src="../../../../global_assets/images/hj.png" alt="">
            </a>
        </div>

        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            @*<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>*@
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                        <i class="icon-git-compare"></i>
                        <span class="d-md-none ml-2">Git updates</span>
                        <span class="badge badge-pill bg-warning-400 ml-auto ml-md-0">9</span>
                    </a>

                    <div class="dropdown-menu dropdown-content wmin-md-350">
                        <div class="dropdown-content-header">
                            <span class="font-weight-semibold">Git updates</span>
                            <a href="#" class="text-default"><i class="icon-sync"></i></a>
                        </div>

                        <div class="dropdown-content-body dropdown-scrollable">
                            <ul class="media-list">
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon"><i class="icon-git-pull-request"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                        <div class="text-muted font-size-sm">4 minutes ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn bg-transparent border-warning text-warning rounded-round border-2 btn-icon"><i class="icon-git-commit"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Add full font overrides for popovers and tooltips
                                        <div class="text-muted font-size-sm">36 minutes ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn bg-transparent border-info text-info rounded-round border-2 btn-icon"><i class="icon-git-branch"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Chris Arney</a> created a new <span class="font-weight-semibold">Design</span> branch
                                        <div class="text-muted font-size-sm">2 hours ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-git-merge"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Eugene Kopyov</a> merged <span class="font-weight-semibold">Master</span> and <span class="font-weight-semibold">Dev</span> branches
                                        <div class="text-muted font-size-sm">Dec 18, 18:36</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon"><i class="icon-git-pull-request"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Have Carousel ignore keyboard events
                                        <div class="text-muted font-size-sm">Dec 12, 05:46</div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="dropdown-content-footer bg-light">
                            <a href="#" class="text-grey mr-auto">All updates</a>
                            <div>
                                <a href="#" class="text-grey" data-popup="tooltip" title="Mark all as read"><i class="icon-radio-unchecked"></i></a>
                                <a href="#" class="text-grey ml-2" data-popup="tooltip" title="Bug tracker"><i class="icon-bug2"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <span class="badge bg-success ml-md-3 mr-md-auto">Online</span>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-300">
                        <div class="dropdown-content-header">
                            <span class="font-weight-semibold">Users online</span>
                            <a href="#" class="text-default"><i class="icon-search4 font-size-base"></i></a>
                        </div>

                        <div class="dropdown-content-body dropdown-scrollable">
                            <ul class="media-list">
                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Jordana Ansley</a>
                                        <span class="d-block text-muted font-size-sm">Lead web developer</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span class="badge badge-mark border-success"></span></div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Will Brason</a>
                                        <span class="d-block text-muted font-size-sm">Marketing manager</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span class="badge badge-mark border-danger"></span></div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Hanna Walden</a>
                                        <span class="d-block text-muted font-size-sm">Project manager</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span class="badge badge-mark border-success"></span></div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Dori Laperriere</a>
                                        <span class="d-block text-muted font-size-sm">Business developer</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span class="badge badge-mark border-warning-300"></span></div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Vanessa Aurelius</a>
                                        <span class="d-block text-muted font-size-sm">UX expert</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span class="badge badge-mark border-grey-400"></span></div>
                                </li>
                            </ul>
                        </div>

                        <div class="dropdown-content-footer bg-light">
                            <a href="#" class="text-grey mr-auto">All users</a>
                            <a href="#" class="text-grey"><i class="icon-gear"></i></a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    @*<a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                        <i class="icon-bubbles4"></i>
                        <span class="d-md-none ml-2">Messages</span>
                        <span class="badge badge-pill bg-warning-400 ml-auto ml-md-0">2</span>
                    </a>*@

                    <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
                        <div class="dropdown-content-header">
                            <span class="font-weight-semibold">Messages</span>
                            <a href="#" class="text-default"><i class="icon-compose"></i></a>
                        </div>

                        <div class="dropdown-content-body dropdown-scrollable">
                            <ul class="media-list">
                                <li class="media">
                                    <div class="mr-3 position-relative">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>

                                    <div class="media-body">
                                        <div class="media-title">
                                            <a href="#">
                                                <span class="font-weight-semibold">James Alexander</span>
                                                <span class="text-muted float-right font-size-sm">04:58</span>
                                            </a>
                                        </div>

                                        <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3 position-relative">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>

                                    <div class="media-body">
                                        <div class="media-title">
                                            <a href="#">
                                                <span class="font-weight-semibold">Margo Baker</span>
                                                <span class="text-muted float-right font-size-sm">12:16</span>
                                            </a>
                                        </div>

                                        <span class="text-muted">That was something he was unable to do because...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-title">
                                            <a href="#">
                                                <span class="font-weight-semibold">Jeremy Victorino</span>
                                                <span class="text-muted float-right font-size-sm">22:48</span>
                                            </a>
                                        </div>

                                        <span class="text-muted">But that would be extremely strained and suspicious...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-title">
                                            <a href="#">
                                                <span class="font-weight-semibold">Beatrix Diaz</span>
                                                <span class="text-muted float-right font-size-sm">Tue</span>
                                            </a>
                                        </div>

                                        <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-title">
                                            <a href="#">
                                                <span class="font-weight-semibold">Richard Vango</span>
                                                <span class="text-muted float-right font-size-sm">Mon</span>
                                            </a>
                                        </div>

                                        <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="dropdown-content-footer justify-content-center p-0">
                            <a href="#" class="bg-light text-grey w-100 py-2" data-popup="tooltip" title="Load more"><i class="icon-menu7 d-block top-0"></i></a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" class="rounded-circle mr-2" height="34" alt="">
                        <span>Victoria</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
                        <a href="#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>
                        <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
                        <a href="#" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-content">
        @RenderBody()
        <div class="content-wrapper">
            <div class="content">
                <div class="card mt-4">
                    <div class="card-header bg-white header-elements-inline">
                        <h6 class="card-title">شهرت</h6>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="reload"></a>
                            </div>
                        </div>
                    </div>

                    <form class="wizard-form steps-validation" action="#" data-fouc>
                        <h6>ثبت شهرت</h6>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-4 text-center imaggeSec ml-auto">
                                    <label class="d-block">عکس کاندید<span class="text-danger">*</span></label>

                                    <label class="label" data-toggle="tooltip" title='عکس کاندید را ضمیمه کنید'>
                                        <img style="height:211px;" class="rounded" id="avatar" src="~/global_assets/images/ui/profile.png" alt="avatar">
                                        <input type="file" class="sr-only" id="input"  accept="image/*">

                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>کد</label>
                                        <input type="text" disabled="" class="form-control required" placeholder="کد" id="Code" name="Code" value="">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>اسم</label>
                                        <input type="text" placeholder="اسم" class="form-control required" id="FirstName" name="FirstName" value="">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>اسم به انگلیسی</label>
                                        <input type="text" placeholder="اسم به انگلیسی" class="form-control required" id="FirstNameEnglish" name="FirstNameEnglish" value="">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>تخلص</label>
                                        <input type="text" class="form-control required" placeholder="تخلص" id="LastName" name="LastName" value="">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>تخلص به انگلیسی</label>
                                        <input type="text" class="form-control required" placeholder="تخلص به انگلیسی" id="LastNameEnglish" name="LastNameEnglish" value="">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>اسم پدر</label>
                                        <input type="text" class="form-control required" placeholder="اسم پدر" id="FatherName" name="FatherName" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>اسم پدر به انگلیسی</label>
                                        <input type="text" class="form-control required" placeholder="اسم پدر به انگلیسی" id="FatherNameEnglish" name="FatherNameEnglish" value="">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>گروپ خون</label>
                                        <select data-placeholder="گروپ خون" class="form-control required form-control-select2 select2-hidden-accessible" data-fouc="" data-val="true" data-val-required="The BloodGroupID field is required." id="BloodGroupID" name="BloodGroupID" tabindex="-1" aria-hidden="true">
                                            <option></option>
                                            <option value="1">A+</option>
                                            <option value="2">A-</option>
                                            <option value="3">B+</option>
                                            <option value="4">B-</option>
                                            <option value="5">O+</option>
                                            <option value="6">O-</option>
                                            <option value="7">AB+</option>
                                            <option value="8">AB-</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>اسم پدرکلان</label>
                                        <input type="text" class="form-control required" placeholder="اسم پدرکلان" id="GrandFatherName" name="GrandFatherName" value="">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>اسم پدرکلان به انگلیسی</label>
                                        <input type="text" class="form-control required" placeholder="اسم پدرکلان به انگلیسی" id="GrandFatherNameEnglish" name="GrandFatherNameEnglish" value="">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>جنسیت</label>
                                        <select tabindex="-1" id="GenderID" data-placeholder="جنسیت" class="form-control required form-control-select2 select2-hidden-accessible" data-fouc="" data-val="true" data-val-required="The GenderID field is required." name="GenderID" aria-hidden="true">
                                            <option></option>
                                            <option value="1">مرد</option>
                                            <option value="2">زن</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>تاریخ</label>
                                        <input tabindex="6" class="form-control required  pwt-datepicker-input-element" type="date" data-val="true" data-val-required="The BirthDate field is required." id="BirthDate" name="BirthDate" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>نوعیت کاندید</label>
                                        <select data-placeholder="نوعیت کاندید" class="form-control required form-control-select2 select2-hidden-accessible" data-fouc="" data-val="true" data-val-required="The CandidateTypeID field is required." id="CandidateTypeID" name="CandidateTypeID" tabindex="-1" aria-hidden="true">
                                            <option></option>
                                            <option value="1"> حاجی</option>
                                            <option value="2">ناظم </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label> حالت مدنی</label>
                                        <select data-placeholder="حالت مدنی" class="form-control required form-control-select2 select2-hidden-accessible" data-fouc="" data-val="true" data-val-required="The MaritalStatusID field is required." id="MaritalStatusID" name="MaritalStatusID" tabindex="-1" aria-hidden="true">
                                            <option></option>
                                            <option value="1">مجرد</option>
                                            <option value="2">متاهل</option>
                                            <option value="3">طلاق شده</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>مذهب</label>
                                    <select data-placeholder="مذهب" class="form-control required form-control-select2 select2-hidden-accessible" data-fouc="" data-val="true" data-val-required="The ReligionID field is required." id="ReligionID" name="ReligionID" tabindex="-1" aria-hidden="true">
                                        <option></option>

                                        <option value="1">حنفی</option>
                                        <option value="2">جعفری</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>گروپ</label>
                                        <select data-placeholder="بخش معرفی کننده" class="form-control required form-control-select2 select2-hidden-accessible" data-fouc="" id="SpecialEntityID" name="SpecialEntityID" tabindex="-1" aria-hidden="true">
                                            <option value="1">حنفی</option>
                                            <option value="2">جعفری</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="d-block font-weight-semibold">شامل گروپ</label>
                                        <select data-placeholder="شامل گروپ" class="form-control required form-control-select2 select2-hidden-accessible" data-fouc="" data-val="true" data-val-required="The ReligionID field is required." id="ReligionID" name="ReligionID" tabindex="-1" aria-hidden="true">
                                            <option></option>

                                            <option value="1">بلی</option>
                                            <option value="2">نخیر</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>ارتباط</label>
                                    <select data-placeholder="ارتباط" class="form-control required form-control-select2 select2-hidden-accessible" data-fouc="" id="RelationshipID" name="RelationshipID" tabindex="-1" aria-hidden="true">
                                        <option></option>

                                        <option value="1">ندارد</option>
                                        <option value="2">شوهر</option>
                                        <option value="3">خانم</option>
                                        <option value="4">برادر</option>
                                        <option value="5">خواهر</option>
                                        <option value="6">پدر</option>
                                        <option value="7">مادر</option>
                                        <option value="8">خواهر زاده, برادر زاده</option>
                                        <option value="9">خاله , عمه </option>
                                        <option value="10">کاکا, ماما</option>
                                        <option value="11">پسر</option>
                                        <option value="12">دختر</option>
                                        <option value="13">اقارب نزدیک</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>ملاحظات</label>
                                        <textarea class="form-control required" id="Remarks" name="Remarks"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label> انتخاب محرم</label>
                                        <input type="text" id="Mahram" class="form-control required" placeholder="محرم">
                                        <input class="form-control" id="_MahramID" placeholder="محرم" type="number" name="MahramID" value="" hidden="">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <button type="button" style="background-color:#D9B08C" class="btn btn-primary modelbtn mt-4" data-toggle="modal" data-target="#modal_form_vertical"><i class="icon-search4 ml-3"></i></button>
                                    </div>
                                </div>

                            </div>
                        </fieldset>

                        <h6>آدرس</h6>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>اسم کاندید</label>
                                        <select data-placeholder="انتخاب نمایید" id="CandidateID" class="form-control-select2 required select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                            <option value="1">حنفی</option>
                                            <option value="2">جعفری</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <button type="button" style="background-color:#D9B08C" class="btn btn-primary modelbtn mt-4" data-toggle="modal" data-target="#modal_form_vertical"><i class="icon-search4 ml-3"></i></button>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>شماره تماس 1</label>
                                        <input tabindex="2" type="text" class="form-control required" placeholder="شماره تماس ">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>شماره تماس 2</label>
                                        <input tabindex="3" type="text" class="form-control required" placeholder="شماره تماس">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ایمیل آدرس</label>
                                        <input tabindex="4" type="email" class="form-control required" placeholder="ایمیل">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ولایت (آدرس فعلی</label>
                                        <select tabindex="5" id="CProvince" data-placeholder="ولایت" asp-items="@ViewBag.Province" class="form-control form-control-select2" data-fouc>
                                            <option value="1">حنفی</option>
                                            <option value="2">جعفری</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ولسوالی / ناحیه</label>
                                        <select tabindex="6" data-placeholder="ولسوالی" class="form-control required form-control-select2" data-fouc>
                                            <option value="1">حنفی</option>
                                            <option value="2">جعفری</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ناحیه</label>
                                        <select tabindex="5" data-placeholder="ناحیه" class="form-control required form-control-select2" data-fouc>
                                            <option value="1">حنفی</option>
                                            <option value="2">جعفری</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>قریه</label>
                                        <input tabindex="7" type="text" class="form-control required" placeholder="قریه">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>سرک</label>
                                        <input tabindex="7" type="text" class="form-control required" placeholder"نمبر سرک">
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>نمبر خانه</label>
                                        <input tabindex="8" type="text" class="form-control required" placeholder="نمبر خانه">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>"ناحیه"</label>
                                        <select tabindex="12" data-placeholder="ناحیه" class="form-control required form-control-select2" data-fouc>
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>"قریه"</label>
                                        <input tabindex="13" type="text" class="form-control required" placeholder="قریه">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>"آدرس مکمل"</label>
                                        <textarea tabindex="9" type="text" class="form-control required" placeholder="آدرس مکمل"></textarea>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <h6>اسناد هویت</h6>
                        <fieldset>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>اسم کاندید</label>
                                            <i>
                                                <select id="BindCandidate" tabindex="7" data-placeholder="اسم کاندید" class="form-control-select2 required"  data-fouc="" aria-hidden="true">
                                                    <option selected value="0">"اسم کاندید را انتخاب نمایید"</option>
                                                </select>
                                            </i>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <button type="button" id="IdentificationEdits" class="btn required btn-primary modelbtn mt-4 ml-n2" data-toggle="modal" data-target="#modal_form_vertical">جستجو<i class="icon-search4 ml-3"></i></button>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>"شماره تذکره"</label>
                                            <input tabindex="2" type="text" id="_NIDNo1" class="form-control required" placeholder="شماره تذکره">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>جلد</label>
                                            <input tabindex="3" type="text" id="_BookNumber" class="form-control required" placeholder="جلد">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>صفحه</label>
                                            <input tabindex="3" type="text" id="_PageNumber" class="form-control required" placeholder="صفحه">
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>"نمبر ثبت"</label>
                                            <input tabindex="4" type="text" id="_RegistrationNo" class="form-control required" placeholder="نمبر ثبت">
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>شماره پاسپورت</label>
                                            <input tabindex="5" type="text" id="_PassportNo1" class="form-control required" placeholder="شماره پاسپورت">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>تاریخ صدور</label>
                                            <input tabindex="6" id="_IssueDate" class="form-control required persianDate">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>تاریخ انقضا</label>
                                            <input tabindex="7" type="datetime" id="_ExpireDate" class="form-control required persianDate">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>ملاحظات</label>
                                            <textarea tabindex="8" type="text" id="_Remarks" class="form-control required" placeholder="ملاحظات"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </fieldset>

                        <h6>وظیفه</h6>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>اسم کاندید</label>

                                        <select id="_CandidateIDEdit" tabindex="1" data-placeholder="اسم کاندید" class="form-control required form-control-select2" data-fouc>
                                            <option value="1">حنفی</option>
                                            <option value="2">جعفری</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <button type="button" id="_CandidateSearch" class="btn btn-primary modelbtn mt-4 ml-n2" data-toggle="modal" data-target="#modal_form_vertical">جستجو<i class="icon-search4 ml-1"></i></button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>اداره</label>
                                        <select id="_OrganizationEdit" tabindex="7" data-placeholder="اداره" class="form-control required form-control-select2" data-fouc>
                                            <option value="1">حنفی</option>
                                            <option value="2">جعفری</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>بست</label>
                                        <input id="_DesignationEdit" type="text" class="form-control required" placeholder="بست">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>آدرس</label>
                                        <select id="_LocationEdit" tabindex="7" data-placeholder="آدرس" class="form-control required form-control-select2" data-fouc>
                                            <option value="1">حنفی</option>
                                            <option value="2">جعفری</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>


                        <h6>ضمیمه اسناد</h6>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>اسم کاندید</label>
                                        <i>
                                            <select id="BindCandidate" tabindex="7" data-placeholder="اسم کاندید" class="form-control-select2 required select2-hidden-accessible" data-fouc="" aria-hidden="true">
                                                <option selected value="0">اسم کاندید را انتخاب نمایید</option>
                                            </select>
                                        </i>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <button type="button" id="_CandidateSearchEdit" class="btn btn-primary modelbtn mt-4 ml-n2" data-toggle="modal" data-target="#modal_form_vertical">جستجو<i class="icon-search4 ml-3"></i></button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>نوعیت سند</label>
                                        <select id="BindDocumentType" type="text" class="form-control required form-control-select2" data-fouc data-placeholder="انتخاب نوعیت سند" tabindex="-1" aria-hidden="true">
                                            <option selected value="0">نوعیت سند را انتخاب نمایید</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>نام سند</label>
                                        <input id="BindDocument" type="text" class="form-control required" placeholder="نام سند">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <input type="file" class="file-input-ajax brose required" multiple="multiple" data-fouc>
                                </div>
                            </div>
                        </fieldset>
                        <h6>شهرت اقارب</h6>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>اسم کاندید</label>
                                        <i>
                                            <select  id="CandidateID" tabindex="7"  data-placeholder="اسم کاندید"class="form-control-select2 required select2-hidden-accessible" data-fouc="" aria-hidden="true">
                                                <option selected value="0">اسم کاندید را انتخاب نمایید</option>
                                            </select>
                                        </i>
                                    </div>
                                </div>

                                <div class="col-md-1 mt-3">
                                    <div class="form-group">
                                        <button type="button" id="uxCandidateSearch" class="btn btn-primary modelbtn" data-toggle="modal" data-target="#modal_form_vertical">جستجو<i class="icon-search4 ml-2"></i></button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>اسم</label>
                                        <input tabindex="2" type="text"  id="FirstName" class="form-control required" placeholder="اسم">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>تخلص</label>
                                        <input tabindex="3" type="text"  id="LastName" class="form-control required" placeholder="تخلص">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>اسم پدر</label>
                                        <input tabindex="4" type="text" id="FatherName" class="form-control required" placeholder="اسم پدر">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>اسم پدرکلان</label>
                                        <input tabindex="4" type="text"  id="GrandFatherName" class="form-control required" placeholder="اسم پدرکلان">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ولایت</label>
                                        <select tabindex="4" data-placeholder="ولایت" id="LocationID" class="form-control required form-control-select2" data-fouc>
                                            <option value="1">حنفی</option>
                                            <option value="2">جعفری</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>روابط</label>
                                        <select tabindex="2" data-placeholder="روابط"  id="RelationshipID"  class="form-control required form-control-select2" data-fouc>
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>شماره تذکره</label>
                                        <input tabindex="6" type="text"  id="NIDNo" class="form-control required" placeholder="شماره تذکره">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>فوق العاده</label>
                                        <input tabindex="7" type="text"  id="Profession" class="form-control required" placeholder="فوق العاده">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>آدرس</label>
                                        <input tabindex="7" type="text"  id="FullAddress" class="form-control required" placeholder="آدرس">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>شماره تماس 1</label>
                                        <input tabindex="8" type="text"  id="Mobile" class="form-control required" placeholder="شماره تماس">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>شماره تماس 2</label>
                                        <input tabindex="8" type="text"  id="Phone" class="form-control required" placeholder="شماره تماس">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>جنسیت</label>
                                        <select tabindex="10" data-placeholder="جنسیت" id="GenderID" class="form-control required form-control-select2" data-fouc>
                                            <option value="1">حنفی</option>
                                            <option value="2">جعفری</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>ملاحظات</label>
                                        <textarea tabindex="13"  class="form-control required" placeholder="ملاحظات"></textarea>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!-- /wizard with validation -->
            </div>
            <!-- /content area -->
            <!-- Footer -->
            @*<div class="navbar navbar-expand-lg navbar-light">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                        <i class="icon-unfold mr-2"></i>
                        Footer
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="navbar-footer">
                    <span class="navbar-text">
                        &copy; 2015 - 2018. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
                    </span>

                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
                        <li class="nav-item"><a href="http://demo.interface.club/limitless/docs/" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
                        <li class="nav-item"><a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Purchase</span></a></li>
                    </ul>
                </div>
            </div>*@
            <!-- /footer -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</body>
</html>
