﻿.wizard > .steps > ul > li.current .number {
    border-color: #116466;
    background-color: #D1E8E2;
    color: #116466;
}
.wizard > .steps > ul > li.done .number {
    font-size: 0;
    background-color: #D9B08C;
    border-color: #D1E8E2;
    color: #FFF;
}


.navbar-dark {
    color: rgba(255,255,255,.9);
    background-color: #2C3531;
    border-bottom-color: rgba(255,255,255,.1);
}

.wizard > .steps > ul > li::after, .wizard > .steps > ul > li::before {
    background-color: #D1E8E2;
}

.btn-primary {
    color: #fff;
    background-color: #116466;
}

.btn-primary:hover {
    color: #fff;
    background-color: #116466;
}